{% extends 'base.html.twig' %}

{% block title %} Vehicule {% endblock %}

{% block body %}

<table class="table">
  <thead>
    <tr>
      <th scope="col">Vehicule</th>
      <th scope="col">Agence</th>
      <th scope="col">Titre</th>
      <th scope="col">Marque</th>
      <th scope="col">Modele</th>
      <th scope="col">Description</th>
      <th scope="col">Photo</th>
      <th scope="col">Prix</th>
      <th scope="col">Actions</th>
    </tr>

  </thead>

  <tbody>
 
  {% for vehicule in vehicules %}
  {% if vehicule.idAgence %}
    <tr>
      <td>{{ vehicule.id }}</td>
      <td>{{ vehicule.idAgence.ville }}</td>
      <td>{{ vehicule.titre }}</td>
      <td>{{ vehicule.marque }}</td>
      <td>{{ vehicule.modele}}</td>
      <td>{{ vehicule.description }}</td>
      <td> 
      <img src="{{ vehicule.photo }}" alt="photoVehicule" width=150 height=100>
      </td>
      <td>{{ vehicule.prixJournalier }}</td>
      <td class="w-25">
      <a href="{{ path('update_vehicule', {'id' : vehicule.id} ) }}">
      <img src="{{ asset('images/update.png')}}" alt="modif" width=35></a>

       <a href="{{ path('detail_vehicule', {'id' : vehicule.id} ) }}">
      <img src="{{ asset('images/details.png')}}" alt="modif" width=35></a>

      <a href="{{ path('delete_vehicule', {'id' : vehicule.id} ) }}">
      <img src="{{ asset('images/delete.png')}}" alt="modif" width=35></a>
      </td> 
    </tr>
    {% endif %}
    {% endfor %}
  </tbody>
</table>



  {{ form_start(formVehicule) }}
    <div class="col-md-10 mx-auto">
        {{ form_row(formVehicule) }}
    </div>
    

    {{ form_end(formVehicule) }}
{% endblock %}
