{% extends 'base.html.twig' %}

{% block title %} {{ parent()}} Membres{% endblock %}

{% block body %}


<div class="container">
{% if membres %}
    <table class="table">
  <thead>
    <tr>
      <th scope="col">#id_membre</th>
      <th scope="col">Pseudo</th>
      <th scope="col">Nom</th>
      <th scope="col">Prénom</th>
      <th scope="col">Email</th>
      <th scope="col">Civilite</th>
      <th scope="col">Statut</th>
      <th scope="col">Date_enregistrement</th>
      <th scope="col">Actions</th>


    </tr>
  </thead>
  <tbody>
  {% for membre in membres %}
            <tr>
                <td>{{ membre.id }}</td>
                <td>{{ membre.pseudo }}</td>
                <td>{{ membre.nom }}</td>
                <td>{{ membre.prenom }}</td>
                <td>{{ membre.email }}</td>
                <td>{{ membre.civilite }}</td>
                <td>{{ membre.statut }}</td>
                
                


{# 
            <td>
                <a href="{{ path("category_modifier", {"id" : membre.id})}}" >
                    <img src="{{ asset("images/update.png")}}" alt="icône de modification" style="width:2rem">
                </a>
            </td>

            <td>
                <a href="" >
                    <img src="{{ asset("images/delete.png")}}" alt="icône de suppression" style="width:2rem">
                </a>
            </td> #}

            </tr>

            {% endfor %}
   
    
  </tbody>
</table>

{% endif %}

 {{ form_start(formMembre)}}

 <div class="col-md-10 mx-auto">
        {{ form_row(formMembre.pseudo) }}
    </div>
<div class="col-md-10 mx-auto">
        {{ form_row(formMembre.mdp) }}
    </div>

    <div class="col-md-10 mx-auto">
        {{ form_row(formMembre.nom) }}
    </div>

    <div class="col-md-10 mx-auto">
        {{ form_row(formMembre.prenom) }}
    </div>

    <div class="col-md-10 mx-auto">
        {{ form_row(formMembre.email) }}
    </div>

    <div class="col-md-10 mx-auto">
        {{ form_row(formMembre.civilite) }}
    </div>
    <div class="col-md-10 mx-auto">
        {{ form_row(formMembre.statut) }}
    </div>
    <div class="col-md-10 mx-auto">
        {{ form_row(formMembre.date_enregistrement) }}
    </div>

    <div class="row justify-content-center">
        <input type="submit" class="btn btn-success mt-3 col-md-6" value="Ajouter">
    </div>
</div>

{{ form_end(formMembre)}}
   {% endblock %}

   