{% extends 'base.html.twig' %}

{% block title %}| Accueil |{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="container">
    {# {{dump(agences)}} #}
    <img src="{{ asset("images/accueil.jpg")}}" alt="accueil" width="1300" height="650">
    <form method="post">
    <label for="agence">Nom de l'agence :</label>
    {{dump(agences)}}
    <select name="ag" id="agId">
    <option value=""></option>
    {# {{ for value in agences }}
    <option value="{{ value.idAgence.id }}">{{ value.idAgence.titre }}</option>
    {{ endfor }} #}
    </select>
    </form>
        
</div>
{% endblock %}
