<div class="navbar">
  <nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ path('app_accueil')}}">Accueil</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ path('app_agence')}}">Agence</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path('membre_afficher')}}">Membre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path("app_vehicule")}}">vehicule</a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="{{ path("app_contact")}}">Contact</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="{{ path("afficher_message")}}">Messages</a>
          </li>
          <AmpContent>
          <li><a class="nav-link" href="{{ path('app_list') }}">View List</a></li>
          <li><a class="nav-link" href="{{ path('app_logout') }}">Logout</a></li>
          
  </AmpContent>
  
  <NonAmpContent>
  
          <li><a class="nav-link" href="{{ path('app_login') }}">Login</a></li>
          <li>
            <a class="nav-link" href="{{ path('app_registration') }}">Register</a>
          </li>
          
  </NonAmpContent>
       
      </nav>
        </ul>
      </div>
    </div>
  </nav>
</div>

